{% extends 'base.html' %} {% block content %} 
{% comment %} This is category_package.html template {% endcomment %}
<style>
  .price_offer {
    position: absolute;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    background-color: red;
    color: #fff;
    z-index: 1;
  }
</style>
{% comment %} <div 
  class="heading"
  style="background: url(/static/images/header-bg-2.jpg) no-repeat"
>
</div> {% endcomment %}
<br></br>
{% if query %}
<center>
    <h1> Search for <b style="font-size: 40px; text-decoration:underline;">{{query}}</b> :</h1>
</center>
{% else %}
<center>
    <h1>Search was Empty, Showing all the Packages !</h1>
</center>
{% endif %}



<!-- package section starts  -->

<section class="packages">
  <h3><center> We are having {{packages.count}} {{category.title}} package{{packages.count|pluralize}} in this Search !</center></h3>
  <br>
  <div class="box-container">
    {% for p in packages %}
    <div class="box">
      <div class="image">
        <div class="price_offer">
          <b>-{{ p.get_percentage|floatformat:0 }}% OFF</b>
        </div>
        <img src="{{ p.image.url }}" alt="" />
      </div>
      <div class="content">
        <h3>{{ p.title }}</h3>
        <h4>{{ p.category.title }}</h4>
        <h3>Rs. {{ p.price|floatformat:0 }}</h3>
        <h5>Rs. {{ p.old_price|floatformat:0 }}</h5>
        <p>{{ p.description|truncatechars:149 | safe }}</p>
        <a href="{% url 'core:package_details' p.pid %}" class="btn">More Info</a>

        {% if request.user.is_authenticated %} 
                        <a href="{% url 'core:book' p.pid %}" class="btn">book now</a>
                        {% comment %} <a class="btn" href="{% url 'core:s1' p.pid %}">Know Schedule ?</a> {% endcomment %}
                        {% else %}
                        <a class="btn" href="{% url 'userauths:sign-in' %}">Book now</a>
              {% endif %}
          {% comment %} <a href="{% url 'core:book' p.pid %}" class="btn">book now</a> {% endcomment %}

      </div>
    </div>
    {% endfor %}
  </div>
  <div class="load-more"><span class="btn">load more</span></div>
</section>

<!-- package section ends  -->
{% endblock %}
