{% comment %} Payment 2.0 {% endcomment %}
{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BharatYatra</title>
    <style>
        .center{
            position: absolute;
            text-align: center;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
    <dic class="center">
        <h3>
            Thanks, for Booking Our Package !<i class="fas fa-check-circle"></i>
        </h3>
        <h5>
            <a href="packages/">
                Wanna Book Another Package ?
            </a>
        </h5>
    </dic>
</body>
</html> {% endcomment %}
